<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Problem | A*</title>
  <script src="/static/javascript/main.js" defer></script>
  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="icon" href="/static/assets/a*-logo.png" type="image/x-icon">

</head>

<body>

  {% include 'private/navbar.html' %}

  <main class="main-content">
    <div class="home">
      <div class="home_primary">
        <form action="/api/v1/create-problem" method="POST" class="form">
          <p class="form-title">Create Problem (AI)<span class="new-badge"><svg xmlns="http://www.w3.org/2000/svg"
                data-name="Your Icon" viewBox="0 0 100 125" x="0px" y="0px">
                <path
                  d="m73.57,55.41l-15.82-6.9c-3.48-1.52-6.24-4.28-7.76-7.77l-6.9-15.81c-.49-1.12-1.56-1.82-2.78-1.82s-2.29.7-2.78,1.82l-6.9,15.82c-1.52,3.48-4.28,6.24-7.77,7.76l-15.83,6.91c-1.12.49-1.82,1.55-1.82,2.77-.01,1.22.69,2.29,1.8,2.78l16.12,7.13c3.47,1.53,6.22,4.3,7.72,7.8l6.68,15.51c.49,1.13,1.55,1.83,2.78,1.84h.01c1.22,0,2.29-.7,2.78-1.82l6.89-15.8c1.52-3.48,4.28-6.24,7.76-7.76l15.82-6.9c1.12-.49,1.82-1.56,1.82-2.78s-.7-2.29-1.82-2.78Zm-1.2,2.81l-15.82,6.9c-4.18,1.82-7.49,5.13-9.31,9.31l-6.95,15.8-6.68-15.52c-1.81-4.19-5.1-7.51-9.27-9.36l-16.11-7.18,15.83-6.91c4.18-1.83,7.49-5.13,9.32-9.32l6.96-15.81,6.9,15.81c1.82,4.19,5.13,7.49,9.31,9.32l15.83,6.95h-.01Z" />
                <path
                  d="m55.39,56.2c-.24.56-.79.9-1.37.9-.2,0-.41-.04-.6-.12-5.34-2.34-9.57-6.56-11.9-11.9-.33-.76.02-1.65.78-1.98.76-.33,1.64.02,1.97.78,2.03,4.64,5.7,8.32,10.35,10.35.76.33,1.11,1.21.77,1.97Z" />
                <path
                  d="m93.36,25.47l-9.14-3.99c-1.86-.81-3.34-2.29-4.15-4.16l-3.99-9.13c-.38-.87-1.24-1.44-2.19-1.44s-1.81.57-2.18,1.44l-3.99,9.13c-.82,1.87-2.29,3.35-4.16,4.16l-9.15,3.99c-.87.38-1.43,1.24-1.43,2.18s.56,1.81,1.42,2.19l9.31,4.12c1.86.82,3.33,2.3,4.14,4.18l3.86,8.96c.37.87,1.23,1.44,2.18,1.44h.01c.95,0,1.8-.56,2.18-1.43l3.99-9.12c.81-1.87,2.29-3.35,4.15-4.16l9.14-3.99c.87-.38,1.43-1.24,1.43-2.19s-.56-1.8-1.43-2.18Z" />
                <path
                  d="m79.81,26.1c-1.67-1.02-3.07-2.36-4.14-4-.45-.69-1.38-.89-2.08-.44-.69.45-.89,1.38-.44,2.08,1.32,2.02,3.03,3.68,5.09,4.93.24.15.51.22.78.22.51,0,1-.26,1.28-.72.43-.71.2-1.63-.5-2.06Z" />
              </svg></span>
          </p>
          <div class="form-group">
            <label for="problem_level">Select Problem Level To Generate Problem</label>
            <select name="problem_level" id="problem_level" class="form-control" required>
              <option value="" selected disabled>Select Problem Level</option>
              <option value="easy">Easy</option>
              <option value="medium">Medium</option>
              <option value="hard">Hard</option>
            </select>
            <label for="problem_title">Problem Title</label>
            <input type="text" name="problem_title" id="problem_title" class="form-control" required>
            <label for="problem_description">Problem Description</label>
            <div id="problem_description-div" class="form-control" style="padding: 20px;" contenteditable required
              style="border: 1px solid #ccc; border-radius: 5px; margin-bottom: 10px; min-height: 200px;">
            </div>
            <textarea name="problem_description" id="problem_description" class="form-control" hidden
              required></textarea>
            <label for="problem_stdin">Problem Stdin</label>
            <textarea name="problem_stdin" id="problem_stdin" class="form-control" required></textarea>
            <label for="problem_stdout">Problem Stdout</label>
            <textarea name="problem_stdout" id="problem_stdout" class="form-control" required></textarea>
            <label for="problem_tags">Problem Tags</label>
            <input type="text" name="problem_tags" id="problem_tags" class="form-control" required>
          </div>
          <div class="form-group form-group--submit">
            <button type="submit" class="btn btn--primary">Create Problem</button>
          </div>
        </form>
      </div>
      {% include 'private/sidebar.html' %}
    </div>

  </main>

  {% include 'private/footer.html' %}

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const problemLevel = document.getElementById("problem_level");
      const problemTitle = document.getElementById("problem_title");
      const problemStdin = document.getElementById("problem_stdin");
      const problemStdout = document.getElementById("problem_stdout");
      const problemTags = document.getElementById("problem_tags");
      const problemDescription = document.getElementById("problem_description");
      const problemDescriptionDiv = document.getElementById("problem_description-div");

      problemLevel.addEventListener("change", async (e) => {
        const difficulty = e.target.value;
        const response = await fetch(`/api/v1/ai/create-problem?difficulty=${difficulty}`);
        const data = await response.json();
        problemTitle.value = data.problem_title;
        problemStdin.value = data.problem_stdin;
        problemStdout.value = data.problem_stdout;
        problemTags.value = data.problem_tags;
        problemDescription.value = data.problem_description;
        problemDescriptionDiv.innerHTML = data.problem_description;
      });
    });
  </script>


</body>

</html>