<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>A*</title>
  <script src="/static/javascript/main.js" defer></script>
  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="icon" href="/static/assets/a*-logo.png" type="image/x-icon">

</head>

<body>

  {% include 'private/navbar.html' %}

  <main class="main-content">
    <div class="home">
      <div class="home_primary">
        {% for announcement in announcements %}
        <div class="home_announcement">
          <h3>{{ announcement.announcement_title }}</h3>
          <p>{{ format_date(announcement.created_at) }}</p>
          <div class="home_announcement_body">
            {{ announcement.announcement_body | safe }}
          </div>
        </div>
        {% endfor %}
      </div>
      {% include 'private/sidebar.html' %}
    </div>

  </main>

  {% include 'private/footer.html' %}
</body>

</html>